

    <textarea placeholder="Yorum gir..." class="form-control" style="height: 100px"></textarea>
    <button type="button" class="btn btn-sm btn-primary bx-pull-right" style="margin-top:10px;">
        Yorumu Paylaş
    </button>


