@model IEnumerable<EntityLayer.Concrete.Comment>
    <div class="row" style="padding:10px;">
        <h2 class="border-bottom">Yorumlar</h2>
    </div>
@foreach (var item in Model)
{
    <div class="card mb-4">
        <div class="card-body" style="padding:10px;">
            <p>@item.CommentContent</p>

            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <span class="ri-account-circle-fill"></span>
                    <p class="small mb-0 ms-2">@item.CommentUserName</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                </div>
            </div>
        </div>
    </div>
}


